<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить программу</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Добавить программу</h1>

    <form action="/program_catalog/add" method="Post">
        <input type="text" name="number" placeholder="Введите номер программы" class="form-control"><br>
        <input type="text" name="nameProgram" placeholder="Введите название ГОСТа" class="form-control"><br>
        <button type="submit" class="btn btn-success"> Добавить программу</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>