<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список программ SA-20</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-2">
    <h2>Список программ SA-20</h2>


    <div th:each="el : ${programCatalog}" class="chapter7">
        <p><b> Номер программы : </b> <span th:text="${el.number}"></span>
            <b> Название : </b>  </b><span th:text="${el.nameProgram}"></span>
            <a th:href="'/program_catalog/'+ ${el.id}" class="btn btn-warning">Подробнее</a></p>
    </div>


</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>